body{
	font-family: arial !important;
}

#signup {
    color: #fff !important;
    font-size: 14px;
    float:right;
}

#special-offer{

	background: #fff;

}
#special-offer h1{
	color:#000;
	opacity: 0.6;
	padding-top:12px;
	padding-bottom:12px;
	font-size: 24px;
}
.tit > h2{
	    opacity: .6;
    font-size: 20px;
    padding-top: 16px;

}
.item{
	margin-top: 30px;
	margin-bottom: 10px;
}

.item>span{
	border: 1px solid lightgray;
	padding:5px;
	margin:5px;
	overflow: hidden;
	display: block;
}
.item p{
	border-top: 1px solid lightgray;
	padding: 20px 2px;
	text-align: center;
}

.item p>a>i{
padding-left: 5px;
color:rgb(255, 114, 3);
font-size: 18px;
}
.view-btn{
color: #fff !important;
background: rgb(255, 114, 3);
margin-left: auto;
margin-right: auto;
border-radius: 26px;
display: block;
width: 142px;
opacity: .8;
padding-top: 7px !important;
padding-bottom: 7px !important;
margin-top: 5px;
}

/*hero page*/

#hero-page0{
	background: #D13F1E;
	height: auto;
	padding-bottom: 26px;
}
#hero-page1{
	padding-top: 65px;
background: #FFA54D;
height: auto;
padding-bottom: 60px;
    margin-bottom: 24px;
}#hero-page11{
	padding-top:60px;
background: #fff;
height: auto;
padding-bottom: 10px;
    margin-bottom: 24px;
}
#hero-page11 h2{
	font-size: 14px;
	color:#fff;

}

.clr{
	background: #ff7e00;
padding: 25px;
border-radius: 5px;
}
#hero-page1 .title{
	font-size: 25px;
	padding: 14px 0px;
	color:#fff;
}
#hero-page1 .text{
	font-size: 16px;
	color:#fff;
}#hero-page0 .title{
	font-size: 24px;
	color:#fff;
	padding: 14px 0px;

}
#hero-page0 .text{
	color:#fff;
	font-size: 14px;
}
#hero-page{
	margin-top: 30px;
	background: #D13F1E;
	height: 299px;
}
#hero-page .title{
	color:#fff;
	font-size: 28px;
	padding: 50px 0px 32px;
}
#hero-page .text{
	color:#fff;
	font-size: 14px;
}



/*footer css*/
#footer {
	border-top:1px solid lightgray;
    padding-top: 50px;
    padding-bottom: 30px;
    color: #000;
	opacity: 0.6;
    background: #fff !important;
}


.foot-about>h1,.foot-contact>h1{
	font-size: 14px ;
	padding:01px 0px 16px 0px;
}
.foot-about>p,.foot-contact>p{
    font-size: 12px;
    padding: 0px;
    margin: 0px;
}
.foot-contact{
	border-left:1px solid gray;

}
.foot-contact>h1,.foot-contact>p{
	text-align: center;
}
.foot-contact i{
	font-size: 28px;
	padding: 13px 3px;
}

.fa-facebook-square{
	color:#3B5998;
}

.fa-twitter-square{
	color:#55ACEE;
}

.fa-linkedin-square{
	color:red;
}

.fa-googleplus-square{
	color:red;
}




.cart-item{

	border: 1px solid lightgray;
	margin: 20px 0px;
	display: block;
	padding-left: 10px;
	background: #f4f7f8;
}
.cart-item h2{
	font-size: 15px;
	opacity: 0.6;
}
.cart{
	width: 100%;
	margin-bottom: 10px;
}
.cart tbody tr td{
 border:1px solid lightgray;
 padding:10px;
}
.cart thead tr th{
 border:1px solid lightgray;
 padding:10px;

}
.cart-btn{
	padding:10px;
}
.cart-total th{
	padding: 10px;
}

.cart-btn-main{
	padding: 15px;
background: #ff7f00;
color: #fff;
}
.cartadd{
	padding: 9px;
background: #ff7f00;
color: #fff;
}

.cart-btn-main1,input.cart-btn-main1{
	padding: 10px;
background: #af4229;
color: #fff;
border:1px solid #fff;
}
.edit-profile{

padding: 10px;
background: #fff;
color: #af4229;
border:1px solid #ff7f00;
}



/*login signup*/

.txt strong{
	padding-top:10px !important;
	position: relative;
	padding-left: 25px !important;
	padding-right: 25px !important;
	color:#fff;


}
.txt strong:before{
	border: 3px solid #fff;
	content: '';
	position: absolute;
	left: 0px;
	top: 11px;
	padding: 5px;
	border-radius: 10px;

}

.log-title{
	font-size: 16px;
opacity: .9;
color: #fff;
background: #d13f1e;
padding: 20px;
border-radius: 10px;
}
.signup-form{
	border-left:1px solid rgba(255, 126, 0, 0.47);
	border-right:1px dotted rgba(255, 126, 0, 0.47);
	
}

.signup-form .inputfield{
  display: inline-block;
padding: 5px;
margin: 8px 15px;
width: 95%;
border: 1px solid rgba(255, 126, 0, 0.36);
color: #0f0d0b;
}
.signup-form .inputfield0{
 
  display: inline-block;
padding: 5px;
margin: 8px 15px;
width: 44%;
border: 1px solid rgba(255, 126, 0, 0.36);
color: #0f0d0b;

}
.select{
margin: 17px;
padding: 9px;
width: 43%;
border: 1px solid rgba(255, 126, 0, 0.36);
color: #0f0d0b;
opacity: .6;
display: block;

}
.btn-submit{
margin: 16px;
border-radius: 10px !important;
padding: 5px;
padding-left: 25px;
padding-right: 25px;
display: block;
background: #ff7e00;
color: #fff;
border: 1px;

}
.signup-form p{
	padding:20px;title
}
.signup-form span{
	font-size: 14px;
display: block;
padding: 17px;
}
.txt-login{
margin:15px;
padding: 14px;
background: #fe756a;
border-radius: 10px !important;
color: #fff;
}.txt-login strong{
	
	padding-left: 10px;
     color: #fff;
    margin:10px;
}

.special-txt{
padding-left: 15px;
color: #e17c1b;
font-size: 25px;
}

/* menu list */

  .dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}
